nav.navbar.navbar-expand-lg.navbar-light.bg-light
   a.navbar-brand(href='/') BigPixel
   ul.nav.nav-pills
      li.nav-item
         a.nav-link(href='#') Connexion
      li.nav-item
         a.nav-link(href='./signUp') Inscription
      //- li.nav-item
      //-    a.nav-link.disabled(href='#!') Disabled
