ul.nav.nav-pills
   li.nav-item
      a.nav-link.active(href='#!') Connexion
   li.nav-item
      a.nav-link(href='#!') Inscription
   //- li.nav-item
   //-    a.nav-link.disabled(href='#!') Disabled
