//- #####################
//- //     accueil     //
//- #####################
extends layout

block content
	.container-fluid
		article.page404
			//- img(src="static/images/Erreur-404.png", alt="")
			h1 Erreur 404

	script.
		document.addEventListener("DOMContentLoaded", function(e) {
			console.log("Document entièrement chargé");
		})