//- #####################
//- //      layout     //
//- #####################
html(lang="fr")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title BigPixel
      script(src='/jquery/jquery.min.js')
      <link href="https://fonts.googleapis.com/css?family=Rosario" rel="stylesheet">
      //- <!-- Bootstrap CSS -->
      link(rel="stylesheet"  href='/bootstrap/css/bootstrap.min.css')
      link(rel="stylesheet", href="static/fontawesome-free-5.3.1-web/fontawesome-free-5.3.1-web/css/fontawesome.css")
      link(rel="stylesheet", href="static/stylesheets/style.css")
  body
    include includes/navBar.pug
    block content
    include includes/footer.pug