//- #####################
//- //   Inscription   //
//- #####################
extends layout

block content
	form.subscribe(action="/signUp" method="POST")
		.fond
		.container
			if(error) 
				h2= message
			.form-row.align-items-center.margin
				-//############   GENRE   ############ 
				.form-check.col-md-2.formCheckBoxs
					label.container.form-check-label(for='exampleRadios1')
						input#exampleRadios1(type='radio', name='exampleRadios', value='option1')
						p Homme
				.form-check.col-md-2
					label.container.form-check-label(for='exampleRadios2')
						input#exampleRadios2(type='radio', name='exampleRadios', value='option2')
						p Femme
			.form-row.align-items-center
				-//############   PSEUDO   ############ 
				.form-group.col-md-6
					label(for='pseudo') Pseudo 
						span.red *
					input#pseudo.form-control(type='text', name="pseudo" required)
				-//############   PASSWORD   ############ 
				.form-group.col-md-6
					label(for='password') Mot de passe 
						span.red *
					input#password.form-control(type='password', name="password" required)
				-//############   NOM   ############ 
				.form-group.col-md-6
					label(for='lastname') Nom 
					input#lastname.form-control(type='text', name="lastname")
				-//############   PRENOM   ############ 
				.form-group.col-md-6
					label(for='firstname') Prénom 
					input#firstname.form-control(type='text', name="firstname")
			.form-row.align-items-center
				-//############   AGE   ############ 
				.form-group.col-md-6
					label(for='age') Age 
					input#age.form-control(type='text', name="age")
				-//############   COORDONNEES   ############ 
				.form-group.col-md-6
					label(for='adress') Coordoonnées 
					input#adress.form-control(type='text', name="adress")
				-//############   EMAIL   ############ 
				.form-group.col-md-6
					label(for='email') Email 
						span.red *
					input#email.form-control(type='email', name="email" required)
				-//############   CITY   ############ 
				.form-group.col-md-6
					label(for='city') City
					input#city.form-control(type='text' name="city")
			.form-row.align-items-center
				-//############   FILM   ############ 
				.form-group.col-md-6
					label(for='movie') Film préféré
					input#movie.form-control(type='text' name="movie")
				-//############   JEU   ############ 
				.form-group.col-md-6
					label(for='game') Jeu préféré
					input#game.form-control(type='text' name="game")
				-//############   PRESENTATION   ############ 
			.form-row.align-items-center
				label(for='presentation') Présentation
				textarea.form-control( name="presentation")
			button.btn.btn(type='submit') Envoyer
			
	script.
		$('document').ready(function() {
			console.log( "ready!" );
			//- $("#pseudo").focusout(function() {
			//- 	if($("#pseudo")) {
			//- 		console.log($("#pseudo").val());
			//- 	}
			//- })
			//- $("#email").focusout(function() {
			//- 	if($("#email")) {
			//- 		console.log($("#email").val());
			//- 	}
			//- })
			//- $("#password").focusout(function() {
			//- 	if($("#password")) {
			//- 		console.log($("#password").val());
			//- 	}
			//- })
			//- $("#email").focusout(function() {
			//- 	if($("#email")) {
			//- 		console.log($("#pseudo").val());
			//- 	}
			//- })
			//- $("#pseudo").val();
		});