* {
	font-family: "Rosario", sans-serif;
	/* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}

.fond {
	background: url("../images/papers.co-ve24-dots-pattern-black-and-blue-abstract-29-wallpaper.jpg");
	position: fixed;
	top: 0;
	left: 0;
	z-index: -3;
	width: 100%;
	height: 100%;
	filter: blur(3px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/* background: #c5c5c5; */
}

footer p {
	position: relative;
	bottom: 0;
	color: rgb(212, 212, 212);
}

.home {
	text-align: center;
}
.home p {
	padding: 6%;
}

.about {
	color: white;
}

/* 
.about {
	padding: 20%;
} */

h1 {
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.4), -1px -2px 0 rgba(255, 255, 255, 1);
	text-align: center;
	padding: 5% 5% 1% 5%;
	font-weight: bolder;
	font-size: 2.6rem;
	color: #55b2ff;
}

.errorMsg {
	color: #ffbdac;
	background-color: #ff3d005c;
	width: fit-content;
	margin: 3% auto;
	padding: 2%;
	text-align: center;
	font-size: 1.5rem;
}

article p {
	/* padding: 2%; */
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
}

article {
	/* background: linear-gradient(90deg,
	#bdbdbd00,
	#dadadabb,
	#ffffffc7,
	#dadadabb,
	#bdbdbd00); */
}

.description {
	text-align: center;
}

.description {
	text-align: center;
}

.description span {
	font-size: 1.4rem;
	margin: auto;
}

.description span input,
.description span textarea {
	height: 35px;
	width: 240px;
	text-align: center;
	background-color: #d8d8d8;
	color: #5a5a5a;
	border: none;
	border-radius: 5px;
}

.description span input:disabled,
.description span textarea:disabled {
	text-align: center;
	background-color: #80808082;
	color: #9c9c9c;
	border: 1px solid;
	border-radius: 5px;
}

.description span textarea:disabled {
	height: 100px;
	width: 240px;
	text-align: center;
	background-color: #80808082;
	color: #9c9c9c;
	border-radius: 5px;
}

.description a {
	font-size: 1.2rem;
	margin: auto;
	color: rgb(75, 153, 255);
}

.description p {
	color: rgb(255, 255, 255);
}

.description p span:first-of-type {
	width: 150px;
	display: inline-block;
}

.description p span:last-of-type {
	margin: 0 0 0 10%;
	display: inline-block;
}

.description a:hover {
	color: #97cdff;
	text-decoration: none;
}

nav {
	background-color: #56adff;
	width: 100%;
	height: 2.8rem;
	border: none;
	list-style: none;

	font-size: 1.2rem;
	box-shadow: 0px 0px 5px 2px rgba(58, 58, 58, 0.88);
	font-weight: bold;
}

nav form {
	margin: 0 0 0 10px;
}

nav form .searchInput {
	transition: all 0.25s;
	background-color: #56adff;
	box-shadow: inset 0.5px 0.5px 5px rgba(0, 0, 0, 0.39);
	height: 1.8rem;
	border-radius: 20px;
	border: none;
}

nav form .search {
	width: auto;
	height: 1.3rem;
}

nav form button:hover {
	background-color: rgba(255, 255, 255, 0.418);
}

nav form button {
	background-color: rgba(0, 0, 0, 0);
}

.item a {
	color: #202020;
}

.item {
	text-align: center;
	width: 140px;
	font-weight: bolder;
	margin-top: -40px;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bolder;
}

nav ul {
	margin-left: 3%;
}

.item:focus,
.item:hover {
	transition: all 0.25s;
	text-decoration: none;
	background: #ffffff;
	color: #ffffff;
	height: 7px;
	width: 9rem;
	letter-spacing: 2px;
}

.item:not(:hover) {
	height: 7px;
	transition: all 0.25s;
	background: none;
	font-weight: normal;
	letter-spacing: normal;
}

.subscribe,
.signIn {
	color: rgb(255, 255, 255);
	/* background: linear-gradient(90deg,
		#00000000,
		#808080a4,
		#808080a4,
		#00000000); */
	border-radius: 5px;
	padding: 2%;
	margin: 3% auto;
}

.subscribe label,
.signIn label {
	margin: 1%;
	font-size: 1.2rem;
}

.subscribe input[type="text"],
.subscribe input[type="email"],
.subscribe input[type="password"],
.signIn input[type="text"],
.signIn input[type="email"],
.signIn input[type="password"] {
	background: rgba(255, 255, 255, 0.644);
	letter-spacing: 1px;
	font-size: 1.2rem;
	color: rgb(56, 56, 56);
	border: none;
	border-radius: 6px;
	border-bottom: rgb(155, 155, 155) solid 1px;
}

.subscribe textarea {
	background: rgba(255, 255, 255, 0.644);
	letter-spacing: 1px;
	border-radius: 6px;
}

.subscribe input:focus,
.signIn input:focus {
	background: rgb(255, 255, 255);
	transition: 1s all;
	box-shadow: inset grey 0 0 0;
}

article button,
.subscribe button,
.signIn button {
	background: linear-gradient(180deg, #b9b9b9, #909090);
	border: none;
	font-size: 1.5rem;
	color: #000000;

	margin: 3% 40%;
	width: 14rem;
	text-align: center;
}

.subscribe button:focus,
.signIn button:focus {
	background: linear-gradient(180deg, #e4e3e3, #8d8d8d);
	box-shadow: 0 0 0 0 black;
}

article button:hover,
.subscribe button:hover,
.signIn button:hover {
	background: linear-gradient(180deg, #e4e3e3, #8d8d8d);
	box-shadow: 0 0 0 0 black;
}

.red {
	color: red;
	font-weight: bolder;
	font-size: 1.5rem;
	line-height: 0;
}

.form-check-label p {
	padding: 10px;
}

.form-check-label {
	cursor: pointer;
	text-align: center;
	height: 5%;
}

.formCheckBoxs {
	margin-left: 35%;
}

.margin {
	margin-bottom: 40px;
}

input[type="radio"]:after {
	cursor: pointer;
	transition: 0.5s all;
	width: 20px;
	height: 20px;
	margin-bottom: 1%;
	position: relative;
	left: -4;
	top: -5;
	background-color: #c3c3c3;
	content: "";
	display: inline-block;
	visibility: visible;
	border: 0px inset rgb(179, 178, 178);
}

input[type="radio"]:checked:after {
	transition: 0.5s all;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	margin-bottom: 1%;
	position: relative;
	background-color: #0090e4;
	display: inline-block;
	visibility: visible;
}

/* ------------- */
/* LOADER.io CSS */
/* ------------- */
.lds-ellipsis {
	margin: auto;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 40px;
}
.lds-ellipsis div {
	position: absolute;
	top: 50%;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: rgb(50, 112, 192);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}
/* ------------- */
/* ------------- */
